#img-bg{
  background-image: url('../../assets/img/trestto-tecnologia-e-inovacao-conexao-entre-pessoas-e-marcas-qual-a-importancia-1206201541390772.jpg');

  min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
